<template name="home">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <img src="img/locker_room.jpg" alt="Locker Room">
          <h1>The Best Outlet Store in Panamá !!!</h1>
          <p>Welcome to Locker Room, We've got all of the quality brand you want at prices you'll love!!</p> 
          <h4>20-60% off department store prices every day..!</h4>
          <p>Please, consider to register to <a href="#">our newsletter</a> to be updated with our latest cupon and save.  </p>
          <p>Share it with your friends and make someone's life a bit more fabulous..!</p>

        </div>
      </div><!-- /row -->
    </div> <!-- /container -->

  {{> work}}
</template>
