/* CSS declarations go here */

/* NavBar */
.navbar{
    margin-bottom: 0;
}

.navbar-inverse{
    background-color: #555555;
    border-color: #444444;
    color: #cccccc
}

/* Body Container 
body{
    background-color: lightsteelblue;
}*/

.top-margin{
	margin-top:50px;
	background-color: "#e7acac";
}


/* Bottom Container */
.navbar-fixed-bottom{
    min-height: 30px;
}


/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
    font-size: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}


/* +++++ WRAP SECTIONS +++++ */

#ww {
    padding-top: 70px;
    padding-bottom: 30px;
    background-color: #f2f2f2;
}


#footer {
    background-color: #2f2f2f;
    padding-top: 10px;
    padding-bottom: 10px; 
}

#footer p {
    color: white;
}

#footer h4 {
    color: white;
    text-transform: uppercase;
    padding-bottom: 20px;
}


/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom { 
    display:block; 
    position:relative; 
    overflow:hidden; 
    background:transparent url(../img/loader.gif) no-repeat center;
}


    .zoomOverlay {
        position:absolute;
        top:0; left:0;
        bottom:0; right:0;
        display:none;
        background-image:url(../img/zoom.png);
        background-repeat:no-repeat;
        background-position:center;
    }

.zoom2 {
    opacity: 1;
}

.zoom2:hover {
    opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
    font-size: 40px;
    color: #1abc9c;
}

.edit-image {
    width: 100px;
}