<template name="news">
	  <div class="container">
	  	<div class="row">
        	<div class="col-lg-8 col-lg-offset-2 centered">
        		<img src="img/Dorada.jpg" alt="Rana Dorada">
        		<h1>Panamanian Golden Frog</h1>
	    	 	<p>The golden frog is a national symbol and is considered to be one of the most beautiful frogs in Panama.  The skin colour of the golden frogs ranges from light yellow-green to bright gold, with some individuals exhibiting black spots on their backs and legs.</p>   

	    	 	<p>Female golden frogs are generally larger than males; females typically range from 45 to 63 mm (1.8 to 2.5 in) in length and 4 to 15 g (0.14 to 0.53 oz) in weight, with males between 35 and 48 millimetres (1.4 and 1.9 in) in length and 3 and 12 grams (0.11 and 0.42 oz) in weight.</p>

	    	 	<p>Panamanian golden frogs inhabit the streams along the mountainous slopes of the Cordilleran cloud forests of west-central Panama.</p>
        	</div>
      	</div><!-- /row -->	      
      </div> <!-- /container -->
</template>