<template name="footer">
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Room Locker</h4>
          <p>
            PH County Park,<br/>
            +507 6747 3456, <br/>
            Panamá, Panamá.
          </p>
        </div>

        <div class="col-lg-4">
          <h4>Social Network</h4>
          <p>
            <a href="#">Twitter</a><br/>
            <a href="#">Facebook</a><br>
            <a href="#">Login</a>
          </p>
        </div>

        <div class="col-lg-4">
          <h4>About Us</h4>
          <p>The best outlet store in Panamá.</p>
        </div>

      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /footer -->
</template>
